<div data-test={{hook "intl_string"}}>{{intlString}}</div>
<div data-test={{hook "intl_interpolated"}}>{{intlInterpolated}}</div>
<div data-test={{hook "intl_html"}}>{{intlHtml}}</div>
<div data-test={{hook "intl_fallback"}}>{{intlFallback}}</div>
<div data-test={{hook "intl_number"}}>{{intlNumber}}</div>
