<div data-test={{hook "intl_string"}}>{{intlString}}</div>
<div data-test={{hook "intl_interpolated"}}>{{intlInterpolated}}</div>
<div data-test={{hook "intl_html"}}>{{intlHtml}}</div>
<div data-test={{hook "intl_fallback"}}>{{intlFallback}}</div>
<div data-test={{hook "intl_fallback_undefined"}}>{{intlFallbackUndefined}}</div>
<div data-test={{hook "intl_not_string"}}>{{intlNotString}}</div>
<div data-test={{hook "intl_date"}}>{{intlDate}}</div>
<div data-test={{hook "intl_number"}}>{{intlNumber}}</div>
